h1 {
font-family: 'Francois One', sans-serif;
}

h2 {
font-family: 'Yellowtail', cursive;
}

.subtitle {
font-family: 'Kanit', sans-serif;
font-size: 11px;
font-style: oblique;
}

.checklist {
font-family: 'Patrick Hand', cursive;
}
